header {
  text-align: center;
}
.page-heading {
  margin: 2% 3% 2% 3%;
}
h1 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 3px;
  color: rgb(85, 84, 84);
}
h2 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  color: rgb(85, 84, 84);
}

.popular-or-battle-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
  vertical-align: top;
}
@media only screen and (max-width: 700px) {
  .popular-or-battle-wrapper {
    width: 90%;
    margin: 5%;
  }
}

.pop-bat-nav {
  vertical-align: top;
  width: 30%;
  display: inline-block;
}
@media only screen and (max-width: 700px) {
  .pop-bat-nav {
    width: 40%;
    margin: 0 2% 0 2%;
  }
}
.topic-btns-wrapper {
  margin: auto;
  margin-top: 1%;
  width: 63.5%;
  border-radius: 10%;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .topic-btns-wrapper {
    width: 90%;
  }
}
.btn,
.btn:active {
  height: 40px;
  width: 15%;
  border-radius: 1%;
  transition: 0.5s ease;
  background-color: black;
  border-bottom: 3px solid black;
  color: white;
  opacity: 0.7;
}

@media only screen and (max-width: 700px) {
  .btn {
    width: 15%;
    font-size: 100%;
    overflow: auto;
  }
}
.btn:hover {
  font-weight: 500;
  opacity: 1;
  color: rgb(22, 206, 238);
}
button:focus {
  color: rgb(22, 206, 238);
  outline: 0;
}
.active_btn {
  width: 15%;
  border-radius: 1%;
  background-color: black;
  color: rgb(22, 206, 238);
  transition: 0.5s ease;

  border-bottom: 3px solid rgb(22, 206, 238);
}

a:hover,
a:active,
a:visited,
a:focus,
a:link {
  text-decoration: none;
  transition: 0.5s ease;
}
.active,
a:active {
  text-decoration: none;
  color: rgb(16, 71, 102);
  font-weight: 500;
  font-size: 30px;
}
a:hover {
  color: rgb(16, 71, 102);
  opacity: 0.9;
}
.link {
  color: rgb(102, 102, 102);
  text-decoration: none;
  font-size: 30px;
}

.popular-results-wrapper {
  vertical-align: top;
  width: 70%;
  margin: auto;
  padding: 0.5% 2% 2% 2%;
  border: 0px solid lightgray;
  text-align: center;
  height: 700px;
}
@media only screen and (max-width: 700px) {
  .popular-results-wrapper {
    width: 90%;
  }
}
.results-cards {
  vertical-align: top;
  padding: 2%;
  margin: 1%;
  display: inline-block;
  width: 20%;
  box-shadow: 1px 1px 6px 1px rgb(194, 194, 199);
  transition: 0.5s ease;
}
@media only screen and (max-width: 700px) {
  .results-cards {
    width: 45%;
    text-align: center;
  }
}

.results-cards:hover {
  box-shadow: 1px 1px 7px 3px rgb(173, 172, 177);
}

.avatar,
.username,
.stars-count,
.forks-count,
.open-issues-count {
  margin: 1%;
  color: rgb(100, 97, 97);
  letter-spacing: 2px;
  display: block;
}

.username {
  width: 90%;
  margin: auto;
  letter-spacing: 2px;
  display: block;
  overflow: auto;
}
.stars-count,
.forks-count,
.open-issues-count {
  margin-left: 17%;
  width: 70%;
  height: 3%;
  text-align: left;
}
@media only screen and (max-width: 700px) {
  .stars-count,
  .forks-count,
  .open-issues-count {
    width: 70%;
    display: block;
    height: 2%;
  }
}
h4 {
  color: rgb(83, 83, 83);
  font-weight: bold;
}
h6 {
  font-size: 14px;
}
.img-repo {
  margin: 2%;
  width: 80%;
  border: 0.1px solid lightgray;
  border-radius: 50%;
  box-shadow: 2px 2px 1px lightgray;
  padding: 3%;
  transition: 0.5s ease;
}
.img-repo:hover {
  box-shadow: 2px 2px 3px rgb(90, 87, 87);
}
.beat-loader {
  position: absolute;
}
.beat-loader-div-visible {
  text-align: center;
  margin-top: 5%;
  height: 100%;
  display: block;
}
.beat-loader-div-hidden {
  display: none;
}
#visible {
  display: block;
}
#hidden {
  display: none;
}
.user-input-battle {
  width: 30%;
  border: 0px solid lightgray;
  margin: auto;
  text-align: center;
  padding: 2%;
}
.users-entered {
  width: 40%;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .users-entered {
    width: 70%;
  }
}
.users-entered-name {
  height: 50px;
  padding-top: 8px;
}
.warriors-wrapper {
  padding: 0% 2% 2% 2%;
  margin: 2% auto;
  text-align: center;
  width: 40%;
  vertical-align: top;
  display: inline-block;
}

.warrior-title {
  width: 100%;
}
.warriors {
  padding: 2% 4% 9% 4%;
  width: 100%;
  box-shadow: 1px 1px 6px 1px rgb(194, 194, 199);
  transition: 0.5s ease;
}
.warriors:hover {
  box-shadow: 1px 1px 7px 3px rgb(173, 172, 177);
}
.warrior-avatar {
  width: 90%;
}

.start-battle-btn-div {
  width: 30%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}
/* @media only screen and (max-width: 700px) {
  .warriors-wrapper {
    width: 90%;
  }
  .start-battle-btn-div {
    width: 80%;
  }
}
.battle-results-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
}
.reset-btn {
  width: 30%;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .reset-btn {
    width: 70%;
  }
} */

.wrapper-battle-ip-op {
  width: 90%;
  margin: 3% auto;
  text-align: center;
}

.search-boxes {
  width: 70%;
  margin: auto;
  text-align: center;
  display: inline-block;
}
.search-results {
  width: 70%;
  margin: auto;
  border: 0px solid red;
}
.search_options1 {
  margin-left: 6%;
  float: left;
  width: 40%;
  text-align: center;
}
.search_options2 {
  float: right;
  margin-right: 6%;
  width: 40%;
  text-align: center;
}
.input-and-search {
  vertical-align: top;
  width: 45%;
  display: inline-block;
  margin: 2%;

  padding: 1%;
  margin: auto;
  display: inline-block;
}
.search-input-box,
.search-btn {
  margin: 0.3%;
  display: inline-block;
  text-align: center;
}
.search-input-box {
  width: 80%;
}
.search-btn {
  width: 10%;
  height: 20px;
}

.form-control {
  width: 100%;
  height: 45px;
}
.search-button {
  background-color: #337ab7;
  border-radius: 8%;
  border: #337ab7;
  color: whitesmoke;
  width: 100%;
  height: 42px;
}
.search-option-img {
  width: 40%;
  border-radius: 50%;

  border: 0.1px solid lightgray;
  border-radius: 50%;
  box-shadow: 2px 2px 1px lightgray;
  margin: 2%;
  padding: 3%;
  transition: 0.5s ease;
}
.search-option-img:hover {
  box-shadow: 2px 2px 3px rgb(90, 87, 87);
}
.search-prev-next-btns {
  font-size: 35px;
  background-color: white;
  border: none;
  transition: 0.5s ease;
  color: rgb(145, 143, 143);
}
.search-prev-next-btns:hover {
  opacity: 0.8;
}
.results-container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.battle-results-wrapper {
  display: inline-block;
  width: 25%;
  margin: 2%;
  padding-bottom: 3%;
  box-shadow: 1px 1px 6px 1px rgb(194, 194, 199);
  transition: 0.5s ease;
}
.battle-results-wrapper:hover {
  box-shadow: 1px 1px 7px 3px rgb(173, 172, 177);
}
.reset-button-container {
  text-align: center;
  margin: auto;
  width: 50%;
}
.confirm-start-btn {
  width: 80%;
  margin: auto;
  display: block;
}
.btn-primary {
  margin-top: 3%;
  width: 20%;
  height: 35px;
  border: none;
  border-radius: 2.5%;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.8s ease;
}
.btn-primary:hover {
  padding-right: 1.5%;
}
.btn-primary:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.btn-primary:disabled:hover {
  padding: inherit;
}
.clip-loader-container {
  margin-top: 10%;
}
.search-prev-next-btns:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  .battle-results-wrapper {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
  }
  .reset-button-container {
    width: 80%;
    text-align: center;
  }
  .btn-primary {
    width: 80%;
  }
  .wrapper-battle-ip-op {
    width: 90%;
  }
  .search-boxes {
    display: block;
    width: 100%;
  }
  .input-and-search {
    display: block;
    width: 100%;
  }
  .search-btn {
    width: 15%;
    font-size: 100%;
  }
  .search_options1,
  .search_options2 {
    width: 90%;
  }
  .search-result-heading {
    font-size: 170%;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .confirm-start-btn {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .search-btn {
    font-size: 100%;
  }
  .btn-primary {
    width: 90%;
    font-size: 100%;
  }
  .btn-primary:hover {
    padding-right: 0.5%;
  }
  .confirm-btn {
    width: 100%;
    margin: auto;
  }
  .confirm-start-btn {
    text-align: center;
    width: 100%;
  }
}
